.Paginate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  gap: 1rem;
}

.Button {
  background-color: transparent;
  border: 2px solid;
  border-radius: 5px;
  border-color: inherit;
  color: inherit;
  font-size: larger;
  /* DBAC00 */
}

