.JourneyContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.VidCont {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, 325px);
  justify-content: center;
}

.CardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 325px);
  gap: 1.5rem;
  justify-content: center;
}

.povCard {
  align-items: center;
  justify-content: center;
}

.povCard:nth-child(2n) {
  flex-direction: column;
}

.BlogSection {
  background-position: center center;
  background-size: cover;
  padding: 70px 0;
  box-sizing: border-box;
  width: 100%;
}

iframe {
  width: 325px;
  height: 244px;
}

@media only screen and (min-width: 768px) {
  .povCard {
    flex-direction: row;
  }

  .povCard:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .VidCont {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 420px);
    justify-content: center;
  }

  iframe {
    width: 420px;
    height: 315;
  }

}
