.AgPhoneImg {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.BrandCertiCards {
  width: 90%;
  margin: auto;
  margin-bottom: 1.75rem;
}

.D2CCard {
  gap: 1rem;
}

@media only screen and (min-width: 768px) {
  .ImgFlying {
    margin-left: 15%;
  }

  .BrandCertiCards {
    width: 100%;
  }

  .D2CCard {
    gap: 0;
  }

}
